body {
    background-color:#f5f064;
  }
  
  #navBar {
    right: 0px;
    top: -0px;
    list-style-type: none;
    position: absolute; 
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#6b6a4c;
    
  }
  
  .navBarItem {
    float: left;
  }
  
  .navBarItemLink {
    font-family: 'Chilanka', cursive;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  
  .navBarItemLink:hover {
    background-color:#52513a;
  } 

  #header {
    font-size: 45px;
    font-weight: bold;
  }

  .center {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 2px;
    font-family: 'Noto Sans JP', sans-serif;
  }

  #shift {
      margin: 50px;
  }

  .city {
    font-family: 'Fjalla One', sans-serif;
  }

.storeItem {
    margin-right: 50px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

  .card {
    /* Add shadows to create the "card" effect */

    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    width: 300px;
    /*background-color: rgb(236, 232, 232); */
    background-color: #a3e0ad;
    border-radius: 15px;
    margin-bottom: 30px;
    
  }
  
   On mouse-over, add a deeper shadow 
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } 

  .cardHeader {
    font-family: 'Patrick Hand', cursive;
  }

  .storeAddress {
    font-family: 'Chivo', sans-serif;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding-top: 5px;
    padding-bottom: 25px
  }

  @font-face {
    font-family: mesmerRegular;
    src: url(./mesmer-regular.otf);
  }

  .yelpButton {
    background-color: #c41200;
    border: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    font-family: mesmerRegular;
  }
  .yelpButton:hover {
    background-color: #8b1002; 
    cursor: pointer;
  }

  .yelpButton:focus {
    outline: none;
    box-shadow: none;
  }


  
  