#niceVid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    margin-top: 50px;
}

body {
    background: lightpink;
}

#navBar {
    right: 0px;
    top: -0px;
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #add8e6;
  }

  .navBarItem {
    float: left;
  }

  .navBarItemLink {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navBarItemLink:hover {
    background-color: #36b4df;
  } 